name: Continuous build and release docker image
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
permissions:
  contents: write
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: timo-reymann/docker-semantic-release-gh-action@v4
        with:
          image: timoreymann/signal-web
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
